<html>
<head>
    <title>이 페이지는 연습 페이지입니다</title>

    <meta charset = "utf-8"> 
    <meta http-equiv = "X-UA-Compatiable" content = "IE=edge, chrome=1">
    <meta name = "viewport" content = "width=device-width, initial-scale=1">

    <meta name = "description" content = "뭐라하는지 하나도 모르겠다">
    <meta name = "subject" content = "태그 속성">
    <meta name = "classification" content = "html">
    <meta name = "keywords" content = "??">
    <meta name = "robots" content = "ALL">

</head>
<body>
    <h1>the first headline</h1>
    <h2>the second headline</h2>
    <h3>the third headline</h3>
    <h4>the fourth headline</h4>
    <h5>the fifth headline</h5>
    <h6>the sixth headline</h6>

        the first line<br>
        the second line
        the third line<br></br>
        <br>the fourth line

        <p>the first paragraph</p>
        <p> the second paragraph</p>
        <p>
            the third paragraph<br>
            the third paragraph</p>

        <b>the first bold text</b><br>
        <strong> the first strong text</strong><br>
        the first normal text<br>

        <i>the first italic text</i><br>

        <a href = "https://www.naver.com">Link Naver</a><br>
        <a href = "https://www.naver.com" target = "_blank" titme = "Naver로 가시오">New Tab Naver</a><br>
        <img src = "IMG_0601.jpeg" width = "500" height = "300"></img><br>
        <img src = "/static/images/IMG_0601.jpeg" width = "500" height = "300"></img><br>

        <input type = "search"></input><br>
        <form>
            <select>
                <option value = "zz">zz</option>
            </select>
        </form>
        <ol>
            <li>list 1</li>
            <li>list 2</li>
        </ol>
        <ul>
            <li>list 1</li>
            <li>list 2</li>
            <ol>
                <li>list 1</li>
                <li>list 2</li>
            </ol>
        <ul>

        
</body>
</html>
<!--주석처리-->
